body {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    color: #444;
    max-width: 720px;
    margin: auto;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6, strong, b {
    color: #222;
}

a {
    color: #3273dc;
}

code {
    padding: 0.2em 0.5em;
    background-color: #f2f2f2;
}
